Repository jorgedom5/CochePole, pull requests merged in 2024-02, with the labels that each got.

#84 [Updated] Readme
  README.md
  img/88.jpeg
Labels: arquitecutra

#85 [UPDATED] Readme
  README.md
  img/33.png
Labels: update, blablacar_racing

#86 [Updated] Streamlit final
  streamlit/graficos.py
  streamlit/test.ipynb
Labels: streamlit

#87 [Updated] Final.py
  streamlit/final.py
Labels: streamlit
